@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body,
header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(11, 11, 11);
  background: linear-gradient(to right, #e9eced, #e9eced);
  margin: 0;
  height: 100vh;
  justify-content: center;
  gap: 20px;
  figure {
    overflow: hidden;
    width: 500px;
    height: 200px;
    border-width: 400%;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  h1 {
    margin: 0;
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }
  main {
    gap: 20px;
    button {
      figure{
        float: left; 
        margin-right: 0px;
        width: 30px;
        height: 25px;
        margin-top: -5px;
        img{
          width: 100%;
          height: 100%;
        }
      }
            
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 400px;
      height: 50px;
      background-color: #bac0c8;
      color: #272525;
      border: none;
      border-radius: 10px;
      
      &:hover {
        cursor: pointer;
        background-color: #7ac3c300;
        border: 1px solid rgb(101, 93, 93);
        color: rgb(75, 69, 69);
       
      }
    }
  }
  footer{
    font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
  }
}
@media screen and (max-width: 600px) {

  body {
    font-family: "Poppins", sans-serif;
    color: rgb(11, 11, 11);
    background: linear-gradient(to right, #afb1b1, #afb1b1);
   
    margin-bottom: -30px;
    margin-left: -30px;
    
    height: 100vh;
    justify-content: center;
    gap: 15px;
    figure {
      overflow: hidden;
      width: 380px;
      height: 90px;
      border-width: 400%;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  h1 {
    margin: 0;
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
    margin: 0 0 5px 0;
    font-weight: 400;
  }
  main {
    gap: 15px;
    button {
      figure{
        float: left; 
        margin-right: 1px;
        width: 30px;
        height: 25px;
        margin-top: 2px;
        margin-right: 2px;
        img{
          width: 100%;
          height: 100%;
        }
      }
            
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      width: 200px;
      height: 35px;
      background-color: #83aae5;
      color: #272525;
      border: none;
      border-radius: 5px;
      
      &:hover {
        cursor: pointer;
        background-color: #7ac3c300;
        border: 1px solid rgb(101, 93, 93);
        color: rgb(75, 69, 69);
       
      }
    }
  }
} 
